<section class="section comand ">
        <div class="container">
        <h2 class="section-title">Наша команда</h2>
        <ul class="list our-comand-list flex-list">
          <li class="our-comand-item">
            <img
              src="./images/oc_img1.jpg"
              alt="Фото Игорь Демьяненко"
              
            />
            <div class="comand-item-txt">
            <h3 class="comand-user-item">Игорь Демьяненко</h3>
            <p class="comand-user-description">Product Designer</p>
             <ul class="comand-social-block">
                  
                  <li class="comand-sosial-item" >
                  <a class="comand-sosial-box" href="#">
                  <svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-instagram"> </use>
                  </svg></a>               
                  </li>                 
                  
                   
                  <li class="comand-sosial-item">
                  <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-twitter"> </use>
                  </svg></a>
                  </li>
                  
                  
                  <li class="comand-sosial-item"> 
                  <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-facebook"> </use>
                  </svg></a>
                  </li>
                  
                  
                  <li class="comand-sosial-item">
                    <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-linkedin"> </use>
                  </svg></a>
                  </li>  
                  
                                          
                </ul>            
            </div>
          </li>
          <li class="our-comand-item">
            <img
              src="./images/oc_img2.jpg"
              alt="Фото Ольга Репина"
             
            />
            <div class="comand-item-txt">
            <h3 class="comand-user-item">Ольга Репина</h3>
            <p class="comand-user-description">Frontend Developer</p>
             <ul class="comand-social-block">
                  
                  <li class="comand-sosial-item" >
                  <a class="comand-sosial-box" href="#">
                  <svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-instagram"> </use>
                  </svg></a>               
                  </li>                 
                  
                   
                  <li class="comand-sosial-item">
                  <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-twitter"> </use>
                  </svg></a>
                  </li>
                  
                  
                  <li class="comand-sosial-item"> 
                  <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-facebook"> </use>
                  </svg></a>
                  </li>
                  
                  
                  <li class="comand-sosial-item">
                    <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-linkedin"> </use>
                  </svg></a>
                  </li>  
                  
                                          
                </ul>  
            </div>
           
          </li>
          <li class="our-comand-item">
            <img
              src="./images/oc_img3-2.jpg"
              alt="Фото Николай Тарасов"             
            />
            <div class="comand-item-txt">
            <h3 class="comand-user-item">Николай Тарасов</h3>
            <p class="comand-user-description">Marketing</p>
              <ul class="comand-social-block">
                  
                  <li class="comand-sosial-item" >
                  <a class="comand-sosial-box" href="#">
                  <svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-instagram"> </use>
                  </svg></a>               
                  </li>                 
                  
                   
                  <li class="comand-sosial-item">
                  <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-twitter"> </use>
                  </svg></a>
                  </li>
                  
                  
                  <li class="comand-sosial-item"> 
                  <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-facebook"> </use>
                  </svg></a>
                  </li>
                  
                  
                  <li class="comand-sosial-item">
                    <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-linkedin"> </use>
                  </svg></a>
                  </li>  
                  
                                          
                </ul>  
            </div>
          </li>
          <li class="our-comand-item">
            <img
              src="./images/oc_img4.jpg"
              alt="Фото Михаил Ермаков"
             
            />
            <div class="comand-item-txt">
            <h3 class="comand-user-item">Михаил Ермаков</h3>
            <p class="comand-user-description">UI Designer</p>
             <ul class="comand-social-block">
                  
                  <li class="comand-sosial-item" >
                  <a class="comand-sosial-box" href="#">
                  <svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-instagram"> </use>
                  </svg></a>               
                  </li>                 
                  
                   
                  <li class="comand-sosial-item">
                  <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-twitter"> </use>
                  </svg></a>
                  </li>
                  
                  
                  <li class="comand-sosial-item"> 
                  <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-facebook"> </use>
                  </svg></a>
                  </li>
                  
                  
                  <li class="comand-sosial-item">
                    <a class="comand-sosial-box" href="#"><svg class="sosial-icon">
                  <use href="./images/icons.svg#icon-linkedin"> </use>
                  </svg></a>
                  </li>  
                  
                                          
                </ul>  
          </div>
          </li>
        </ul>
        </div>
      </section>
      