<footer class="footer ">
      <div class="container footer-container ">
       
          
              
            <div class="footer-container-item">
                <a href="#" class="logo"><span class="first">Web</span><span class="second">Studio</span></a>
              <ul class="footer-list">
                  <li class="footer-item"><address class="address contact"><a href="mailto:info@devstudio.com">г. Киев, пр-т Леси Украинки, 26</a></address></li>
                  <li class="footer-item"><a href="mailto:info@devstudio.com" class="contact">info@devstudio.com</a></li>
                  <li class="footer-item">
                    <a href="tel:+380961111111" class="contact">
                      +38 096 111 11 11</a></li>
                       </ul> 
                  </div> 
           <div class="footer-container-item">
              <h3 class="footer-we ">ПРИСОЕДИНЯЙТЕСЬ</h3>
                
                  
                <ul class="footer-social-list">
                  <li class="footer-sosial-item">
                  <a class="footer-sosial-box" href="#">
                  
                        <svg class="footer-sosial-icon">
                        <use href="./images/icons.svg#icon-instagram"> </use>
                        </svg>              
                   </a>
                  </li>
                    <li class="footer-sosial-item">
                  <a class="footer-sosial-box" href="#">
                  
                  <svg class="footer-sosial-icon">
                  <use href="./images/icons.svg#icon-twitter"> </use>
                  </svg>              
                  
                  </a>
                  </li>
                   <li class="footer-sosial-item">
                  <a class="footer-sosial-box" href="#">
                  
                  <svg class="footer-sosial-icon">
                  <use href="./images/icons.svg#icon-facebook"> </use>
                  </svg>              
                  
                  </a>
                  </li>
                   <li class="footer-sosial-item">
                  <a class="footer-sosial-box" href="#">                  
                  <svg class="footer-sosial-icon">
                  <use href="./images/icons.svg#icon-linkedin"> </use>
                  </svg>              
                  </a>
                  </li> 
                </ul>
            </div>
           <div class="footer-container-item">

              <h3 class="footer-we ">ПОДПИШИТЕСЬ НА РАССЫЛКУ</h3>
                
                  <div class="online">
                   <form class="online-form" >
                       <input type="mail" class="online-form-input" placeholder="E-mail" name="online-mail" type="mail">
                       <button class="online-form-button"> <span class="online-form-txt">Подписаться</span> 
                          <svg class="online-form-icon">
                        <use href="./images/icons.svg#icon-modal-fly"> </use>
                        </svg> 
                     </button>
                  </form>
                 
                 </div>
            </div>
          </div> 
         </footer>