   <header class="e-header">
      <div class="container header-container">
      <a href="#" class="logo"><span class="first">Web</span><span class="second">Studio</span></a
      >
      <nav class="nav">
        <ul class="list flex-list">
          <li class="headet-list-item headet-list-item-current"><a href="#" class="link current">Студия</a></li>
          <li class="headet-list-item"><a href="./portfolio.html" class="link">Портфолио</a></li>
          <li class="headet-list-item"><a href="#" class="link">Контакты</a></li>
        </ul>
      </nav>
      
        <ul class="list heder-contact-list">      
          <li class="heder-contact-item"><a href="mailto:info@devstudio.com" class="contact"> 
             <svg class="heder-contact-icon-mail">
            <use href="./images/icons.svg#icon-envelope"> </use>
          </svg> 
          info@devstudio.com</a></li>
          <li class="heder-contact-item"><a href="tel:+380961111111" class="contact">
            <svg class="heder-contact-icon-tel">
            <use href="./images/icons.svg#icon-smartphone"> </use>
          </svg>
          +38 096 111 11 11</a></li>
        </ul>     
     </header>