<div class="backdrop is-hidden" data-modal>
       <div class="modal-container">
            <p class="name-modal-window">Оставьте свои данные, мы вам перезвоним</p>
            <form name="modal-form" class="modal-form">
                <div class="modal-item">
                    <label for="modal-form-name" class="modal-lable">Имя</label>
                    <div class="modal-input-box">
                        <input type="text" name="modal-form-name" class="modal-form-input modal-form-name" id="modal-form-name" placeholder="">
                        <svg class="modal-icon" width="18px" height="18px" >
                          <use href="./images/icons.svg#icon-modal-people"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-item">
                    <label for="modal-form-tel" class="modal-lable">Телефон</label>
                    <div class="modal-input-box">
                        <input type="tel"  name="modal-form-tel" class="modal-form-input modal-form-tel" id="modal-form-tel" placeholder="">
                        <svg class="modal-icon" width="18px" height="18px" >
                          <use href="./images/icons.svg#icon-modal-phone"></use>
                        </svg>
                    </div>
                </div>
                  <div class="modal-item">
                    <label for="modal-form-mail" class="modal-lable" >Почта</label>
                    <div class="modal-input-box">
                        <input type="mail" name="modal-form-mail" class="modal-form-input modal-form-mail" 
                        id="modal-form-mail" placeholder="">
                        <svg class="modal-icon" width="18px" height="18px" >
                          <use href="./images/icons.svg#icon-modal-mail"></use>
                        </svg>
                    </div>
                </div>
                  <div class="modal-item">
                    <label for="modal-form-text" class="modal-lable">Комментарий</label>
                    <div class="modal-input-box">
                    <textarea  name= "modal-form-text" class="modal-form-input modal-form-text" 
                    id="modal-form-text" placeholder="Введите текст"></textarea>
                    </div>
                </div>

                    <div class="modal-input-chek">
                          <input type="checkbox" class="modal-form-check" id="modal-form-check" name="modal-form-check" placeholder="">
                          <label for="modal-form-check" class="modal-check-lable">Соглашаюсь 
                          с рассылкой и принимаю &nbsp;<a href="#" > <span class="legal">Условия договора</span> </a></label>
                    </div>
                    
                


                <button type="submit" class="modal-button"><span class="herro-button-txt">Отправить</span></button>
        
        </form>

        <button type="button" class="closed-modal-box" data-modal-close>
          <svg class="modal-closed">
                  <use href="./images/icons.svg#icon-modal-closed"> </use>
                  </svg>
        </button>
        <!-- <button  class="closed-modal" data-modal-close >закрыть</button> -->
      </div>      
    </div>
   