<section class="section work-section">
        <div class="container">
        <h2 class="section-title">Чем мы занимаемся</h2>
        <ul class=" our-work-list">
          <li class="our-work-item">
            <img
                src="./images/sec3_img1.jpg"
                alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ"                
            />            
              <p class="our-work-description">  ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ</p>  
          </li>
          <li class="our-work-item">
            <img
                src="./images/sec3_img2.jpg"
                alt="Мобильные приложения"          
            />
            <p class="our-work-description">МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ</p>            
          </li>
          <li class="our-work-item">
            <img
                src="./images/sec3_img3.jpg"
                alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ"              
            />
             <p class="our-work-description">ДИЗАЙНЕРСКИЕ РЕШЕНИЯ</p> 
          </li>
        </ul>
        </div>
      </section>
