    <!-- Почему мы  n < -->
      <section class="section">
        <div class="container">
        <h2 class="section-title visually-hidden">ПОЧЕМУ МЫ</h2>
        <ul class="why-we-list">
          <li class="why-we-item">
         <div class="why-we-container-icon">
            <svg class="why-we-icon">
           <use href="./images/icons.svg#icon-antena"> </use>
            </svg>
            </div>
            <h3 class="section-we-item">ВНИМАНИЕ К ДЕТАЛЯМ</h3>
            <p class="section-we-description">
              Идейные соображения, а также начало повседневной работы по
              формированию позиции.
            </p>
          </li>
          <li class="why-we-item">
            <div class="why-we-container-icon">
            <svg class="why-we-icon">
           <use href="./images/icons.svg#icon-clock"> </use>
            </svg>
            </div>
            <h3 class="section-we-item ">ПУНКТУАЛЬНОСТЬ</h3>
            <p class="section-we-description">
              Задача организации, в особенности же рамки и место обучения кадров
              влечет за собой.
            </p>
          </li>
          <li class="why-we-item">
            <div class="why-we-container-icon">
            <svg class="why-we-icon">
           <use href="./images/icons.svg#icon-diagram"> </use>
            </svg>
            </div>
            <h3 class="section-we-item">ПЛАНИРОВАНИЕ</h3>
            <p class="section-we-description">
              Равным образом консультация с широким активом в значительной
              степени обуславливает.
            </p>
          </li>
          <li class="why-we-item">
            <div class="why-we-container-icon">
            <svg class="why-we-icon">
           <use href="./images/icons.svg#icon-astronaut"> </use>
            </svg>
            </div>
            <h3 class="section-we-item">СОВРЕМЕННЫЕ ТЕХНОЛОГИИ</h3>
            <p class="section-we-description">
              Значимость этих проблем настолько очевидна, что реализация
              плановых заданий.
            </p>
          </li>
        </ul>
        </div>
      </section>